<h2>Small</h2>
<textarea rows="3" cols="20" style="height: auto" onclick="this.select()">
    &lt;a href="/uploads/original/{{ file.filename }}" class="zoom"&gt;
        &lt;img src="{{ file.filename | imagine_filter('small') }}" alt="{{ file.filename }}" /&gt;
    &lt;/a&gt;
</textarea>
<h2>Medium</h2>
<textarea rows="3" cols="20" style="height: auto" onclick="this.select()">
    &lt;a href="/uploads/original/{{ file.filename }}" class="zoom"&gt;
        &lt;img src="{{ file.filename | imagine_filter('medium') }}" alt="{{ file.filename }}" /&gt;
    &lt;/a&gt;
</textarea>
<h2>Large</h2>
<textarea rows="3" cols="20" style="height: auto" onclick="this.select()">
    &lt;a href="/uploads/original/{{ file.filename }}" class="zoom"&gt;
        &lt;img src="{{ file.filename | imagine_filter('large') }}" alt="{{ file.filename }}" /&gt;
    &lt;/a&gt;
</textarea>

<hr />
<img src="{{ file.filename | imagine_filter('small') }}" />
<hr />
<img src="{{ file.filename | imagine_filter('medium') }}" />
<hr />
<img src="{{ file.filename | imagine_filter('large') }}" />